//- Quote Post
|{block:Quote}


//   ___           _        
//  / _ \ _  _ ___| |_ ___  
// | (_) | || / _ \  _/ -_) 
//  \__\_\\_,_\___/\__\___| 
                         

section.theme-quote
  div(class="{Length}")
    i.fa.fa-quote-left
    span.quote-text {Quote}
    i.fa.fa-quote-right 
  

|{block:Source}
section.quote-source — {Source}
|{/block:Source}

//- End Quote Post
|{/block:Quote}