//===========================================================
//                    ______       __                        
//                   / __/ /___ __/ /__ ___                  
//                  _\ \/ __/ // / / -_|_-<                  
//                 /___/\__/\_, /_/\__/___/                  
//                         /___/                             
//===========================================================
style.

  body {
      background-color: {BackgroundColor};
      color: {color:Font Color};
      font-family:{select:Body Font}
  }

  h1, h2, h3, h4, h5, h6 {
      color: {color:Headings Color}
      font-family: {select:Headings Font}
  }
  
  a:link,
  a:visited { color: {color:Links} }
  
  a:active,
  a:hover { color: {color:Links Hover} }
  
  :focus { outline-color: {AccentColor} }
  
  ::selection,
  ::-webkit-selection,
  ::-moz-selection,
  { color:{color:Font Color}; background-color: {AccentColor} }
  
  .accent{ color: {AccentColor} }

  header {
    background-image: url({HeaderImage});
    background-color: {color:Header Background};
  }
  
  {CustomCSS}
  