//===========================================================
//  ________                   ____       __  _              
// /_  __/ /  ___ __ _  ___   / __ \___  / /_(_)__  ___  ___ 
//  / / / _ \/ -_)  ' \/ -_) / /_/ / _ \/ __/ / _ \/ _ \(_-< 
// /_/ /_//_/\__/_/_/_/\__/  \____/ .__/\__/_/\___/_//_/___/ 
//                               /_/                         
//===========================================================
meta(name!="if:Show Sidebar" content="1")/
meta(name!="if:Show Post Notes on Sidebar" content="1")/

meta(name="text:Custom Navigation List" content="")/
meta(name="text:Google Analytics Tracking ID" content="")/

meta(name!="select:Tweets to Show" content="1" title="1")/
meta(name!="select:Tweets to Show" content="2" title="2")/
meta(name!="select:Tweets to Show" content="3" title="3")/
meta(name!="select:Tweets to Show" content="4" title="4")/
meta(name!="select:Tweets to Show" content="5" title="5")/
meta(name!="select:Tweets to Show" content="10" title="10")/

meta(name="color:Header Background" content="#333")/
meta(name="color:Headings Color" content="#333")/
meta(name="color:Font Color" content="#666")/
meta(name="color:Links" content="#CAA40E")/
meta(name="color:Links Hover" content="{AccentColor}")/

meta(name!="select:Headings Font" content="'Helvetica Neue',Helvetica,sans-serif" title="Helvetica Neue")/
meta(name!="select:Headings Font" content="'Open Sans',sans-serif" title="Open Sans")/
meta(name!="select:Headings Font" content="'Raleway',sans-serif" title="Raleway")/
meta(name!="select:Headings Font" content="'Roboto',sans-serif" title="Roboto")/

meta(name!="select:Nav Font" content="'Helvetica Neue',Helvetica,sans-serif" title="Helvetica Neue")/
meta(name!="select:Nav Font" content="'Open Sans',sans-serif" title="Open Sans")/
meta(name!="select:Nav Font" content="'Raleway',sans-serif" title="Raleway")/
meta(name!="select:Nav Font" content="'Roboto',sans-serif" title="Roboto")/

meta(name!="select:Body Font" content="'Helvetica Neue',Helvetica,sans-serif" title="Helvetica Neue")/
meta(name!="select:Body Font" content="'Open Sans',sans-serif" title="Open Sans")/
meta(name!="select:Body Font" content="'Raleway',sans-serif" title="Raleway")/
meta(name!="select:Body Font" content="'Roboto',sans-serif" title="Roboto")/



