h1 Header
h2 Header
h3 Header
h4 Header
h5 Header
h6 Header
hr

p 
  strong Strong TextsSß
  br
  em Emphasized Text
  br
  a(href="#") Linked Text

p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis lobortis metus. Vestibulum elementum lorem dui, quis tempor felis cursus in. Quisque luctus neque magna, in eleifend nisl sagittis nec. Donec interdum libero non tincidunt dictum. Aliquam nisi augue, consectetur a varius id, elementum in ipsum. Ut nec velit ut ligula blandit condimentum. Nulla felis dui, tristique vel felis a, pulvinar fringilla tortor. Vestibulum scelerisque tristique est at iaculis.

ol
  li Ordered List
  li Ordered List
  li Ordered List
  li Ordered List
    ol
      li Ordered List
      li Ordered List
      li Ordered List

ul
  li Unordered List
  li Unordered List
  li Unordered List
  li Unordered List
    ul
      li Unordered List
      li Unordered List
      li Unordered List


img(src="http://www.hellopower.net/wp-content/uploads/2014/09/Honda-CBR1000RR-2015-specs-600x400.jpg")


table
  thead
    tr
      th Table Header
      th Table Header
      th Table Header
  tbody
    tr
      td Cell
      td Cell
      td Cell
    tr
      td Cell
      td Cell
      td Cell
    tr
      td Cell
      td Cell
      td Cell
    tr
      td Cell
      td Cell
      td Cell